.div-box {
    margin: 3px;
}

.card-km {
    margin-right: 10px;
}

h4 {
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 15px !important;
    color: #fff !important;
    padding-left: 10px !important;
    background-color: #248562;
    padding: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

}

h5 {
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 12px !important;
    color: #000 !important;
}
