<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" (click)="voltar()">
      <ion-icon name="arrow-back"> </ion-icon>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>CARROS BEST</ion-title>
    <ion-buttons slot="primary" (click)="LoadingCarrosBest()">
      <ion-button>
        <ion-icon name="refresh"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item>
    <ion-input placeholder="PLACA" [(ngModel)]="placa" name="placa"></ion-input>
    <!-- <button class="btcam" color="primary" (click)="captureImage()" clear item-right>
      <ion-icon color="primary"></ion-icon>
    </button> -->
    <button class="btcam" color="primary" clear item-right>
      <ion-icon color="primary"></ion-icon>
    </button>
  </ion-item>
  <div class="fab">
    <ion-button class="bt" (click)="buscarCarro()" color="primary">BUSCAR</ion-button>
    <!-- <ion-fab-button (click)="recognizeImage()" [disabled]="!workerReady" size="small">
      <ion-icon name="checkmark-outline"></ion-icon>
    </ion-fab-button>-->
  </div>
  <ion-list>
    <ion-item-sliding *ngFor="let carros of listaCarrosBest">
      <ion-item-options side="start">
        <ion-item-option color="danger" (click)="contaCar(carros)">
          Contar
        </ion-item-option>
      </ion-item-options>
      <ion-item class="main">
        <div class="titulo">
          <ion-card-subtitle>{{carros.titulo_loj}}</ion-card-subtitle>
        </div><br>
        <div class="meio">
          <ion-label>
            <ion-card-title><strong>
                <ion-icon class="manutencao" name="hammer" *ngIf="carros.cManutencao == 1"></ion-icon>
                &nbsp;{{carros.placa_car}}
              </strong></ion-card-title>
            <ion-card-subtitle>{{carros.modelo_car}} - {{carros.cor_car}}</ion-card-subtitle>
          </ion-label>
        </div>

      </ion-item>

      <ion-item-options side="end">
        <ion-item-option color="primary" (click)="AtualizaCar(carros)">
          Contar
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-fab class="qtdCar" vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button>
      <label>{{qtdTotal}}</label>
    </ion-fab-button>
  </ion-fab>
</ion-content>